@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}